<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="utf-8">
  <title>Account Summary</title>
  <link rel="icon" href="img/electric-tower.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
</head>

<nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg">

  <div class="container">

    <a class="navbar-brand user-brand"> <%= message %> </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" href="/userAccountSummary">Home</a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" href="/userProfile">Profile</a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link" href="/userViewBill">View/Pay Bill</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/userBillingHistory">Billing History</a>
        </li>

        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= username %>
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <a class="dropdown-item" href="/userProfile">Profile</a>
            <a class="dropdown-item" href="/userFeedback">Give FeedBack</a>
            <a class="dropdown-item" href="/userlogout">Logout</a>

          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>

<body class="body-user">
  <div class="container">
    <div class="jumbotron user-jumbo">
      <div class="container">
        <h3 class="display-4">Account Details </h3>
        <hr class="my-4">
        <table class="table table-bordered table-hover">
          <tbody>

            <% profile.forEach(function(data){ %>

            <tr>
              <th scope="row"> Account Number </th>
              <td> <%= data.account_number %> </td>
            </tr>

            <tr>
              <th scope="row">First Name</th>
              <td> <%= data.account_holder_fname  %> </td>
            </tr>

            <tr>
              <th scope="row">Last Name</th>
              <td> <%= data.account_holder_lname %> </td>
            </tr>

            <tr>
              <th scope="row">DOB</th>
              <td> <%= data.account_holder_DOB %> </td>
            </tr>

            <tr>
              <th scope="row">Address</th>
              <td> <%= data.account_holder_address %> </td>
            </tr>

            <%  })  %>

            <tr>
              <th scope="row">Board Name</th>
              <td> <%= boardName %> </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>
