<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="utf-8">
  <title>User Profile</title>
  <link rel="icon" href="img/electric-tower.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
</head>

<nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg">

  <div class="container">

    <a class="navbar-brand user-brand"> Profile </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" href="/userAccountSummary">Home</a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" href="/userProfile">Profile</a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link" href="/userViewBill">View/Pay Bill</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/userBillingHistory">Billing History</a>
        </li>

        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= username %>
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <a class="dropdown-item" href="/userProfile">Profile</a>
            <a class="dropdown-item" href="/userFeedback">Give FeedBack</a>
            <a class="dropdown-item" href="/userlogout">Logout</a>

          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>

<body class="body-user-profile">

  <div class="container">

    <div class="jumbotron user_profile_jumbo">
      <div class="container">
        <h1 class="display-4 ">User Details</h1>
        <hr class="my-4">

        <form action="/userProfileUpdate" method="post" autocomplete="off">

          <div class="form-group">

            <div class='row'>

              <div class='col-sm-4 my-1'>
                <div class="form-group">
                  <label class='user_profile_label'>Username</label>
                  <input type="text" name="username" class="form-control" placeholder="username" autocomplete="off" value="<%= user_data[0].customer_username  %>" disabled>
                </div>

              </div>


              <div class='col-sm-4 my-1'>
                <div class="form-group">
                  <label class='user_profile_label'>password</label>
                  <input type="text" name="password" class="form-control" placeholder="Password" value="<%= user_data[0].customer_pass %>" autocomplete="off">
                </div>
              </div>

            </div>

            <div class='row'>

              <div class='col-sm-4 my-1'>
                <div class="form-group">
                  <label class='user_profile_label'>First Name</label>
                  <input type="text" name="first_name" class="form-control" placeholder="First Name" value="<%= user_data[0].customer_fname %>" autocomplete="off">
                </div>
              </div>

              <div class='col-sm-4 my-1'>
                <div class="form-group">
                  <label class='user_profile_label'>Last Name</label>
                  <input type="text" name="last_name" class="form-control" placeholder="Last Name" value="<%= user_data[0].customer_lname %>" autocomplete="off">
                </div>
              </div>

            </div>

            <div class='row'>

              <div class='col-sm-4 my-1'>
                <div class="form-group">
                  <label class='user_profile_label'>Phone Number</label>
                  <input type="text" name="phon_no" class="form-control" placeholder="Phone Number" value="<%= user_data[0].customer_phone_number%>" autocomplete="off" disabled>
                </div>
              </div>

              <div class='col-sm-4 my-1'>
                <div class="form-group">
                  <label class='user_profile_label'>Address</label>
                  <input type="text" name="address" class="form-control" placeholder="Address" value="<%= user_data[0].customer_address%>" autocomplete="off">
                </div>
              </div>

            </div>

            <div class='row'>

              <div class='col-sm-4 my-1'>
                <div class="form-group">
                  <label class='user_profile_label'>City</label>
                  <input type="text" name="city" class="form-control" placeholder="City" value="<%= user_data[0].customer_city%>" autocomplete="off">
                </div>
              </div>

              <div class='col-sm-4 my-1'>
                <div class="form-group">
                  <label class='user_profile_label'>State</label>
                  <input type="text" name="state" class="form-control" placeholder="State" value="<%= user_data[0].customer_state%>" autocomplete="off">
                </div>
              </div>

            </div>

            <div class='row'>

              <div class='col-sm-4'>
                <div class="form-group">
                  <label class='user_profile_label'>Pincode</label>
                  <input type="text" name="pincode" class="form-control" placeholder="Pincode" value="<%= user_data[0].customer_pincode%>" autocomplete="off">
                </div>
              </div>

            </div>
            <button type="submit" class="btn btn-primary"> Update </button>

          </div>
        </form>

      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>