<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>View/Pay Bill</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container">

    <a class="navbar-brand"> View/Pay Bill </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" href="/userAccountSummary">Account Summary</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/userProfile">Profile</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/userViewBill">View/Pay Bill</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/userBillingHistory">Billing History</a>
        </li>


        <li class="nav-item"><a class="nav-link" href="/userlogout">Logout</a></li>

      </ul>
    </div>
  </div>
</nav>

<body>
  <div class="container" style="margin-top: 30px;">
    <div class="jumbotron">
      <div class="container">

        <table class="table table-bordered table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Bill Nummber</th>
              <th scope="col">RR Number</th>
              <th scope="col">Consumption Unit</th>
              <th scope="col">Bill Amount</th>
              <th scope="col">Tax</th>
              <th scope="col">Total Bill Amount</th>
              <th scope="col">Due Date</th>
              <th scope="col">Paid Amount</th>
              <th scope="col">Payment Status</th>
              <th scope="col">Payment Date</th>
            </tr>
          </thead>

          <tbody>

            <tr>
              <td> <%= bill_data[0].bill_no %> </td>
              <td> <%= bill_data[0].rr_no %> </td>
              <td> <%= bill_data[0].consumption_unit %> </td>
              <td> <%= bill_data[0].bill_amount %> </td>
              <td> <%= bill_data[0].tax %> </td>
              <td> <%= bill_data[0].total_bill_amount %> </td>
              <td> <%= bill_data[0].due_date %> </td>
              <td> <%= bill_data[0].paid_amount %> </td>
              <td> <%= bill_data[0].payment_status %> </td>
              <td> <%= bill_data[0].payment_date %> </td>
            </tr>

          </tbody>
        </table>

      </div>
    </div>

  </div>

  <div class="container" style="margin-top: 30px;">
    <div class="jumbotron">
      <div class="container">

        <form action="/userViewBill" method="post">

          <div class="col-sm-4">

            <h3 class="display-7"> Pay Bill </h3>
            <hr class="my-4">
			  

            <div class="form-group">
              <label>Bill Number</label>
              <input type="text" name="bill_no" class="form-control" placeholder="Bill Number" autocomplete="off">
            </div>

            <div class="form-group">
              <label>Amount In Rupees</label>
              <input type="text" name="paid_amount" class="form-control" placeholder="Amount" autocomplete="off">
            </div>
			  
			<button type="submit" class="btn btn-primary"> Pay Bill </button>  
			  
          </div>
        </form>
      </div>
    </div>
  </div>
	
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>
