<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="utf-8">
  <title>Registration Form</title>
  <link rel="icon" href="img/electric-tower.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="styles.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
</head>

<nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg">

  <div class="container">

    <a class="navbar-brand user-brand"> Registration Form </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/userlogin">User login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/adminlogin">Admin login</a>
        </li>


      </ul>
    </div>
  </div>
</nav>

<body class="body-register">

  <div class="container">

    <div class="jumbotron jumbotron_register">
      <div class="container">
        <h1 class="display-4 login_h1">Register</h1>
        <hr class="my-4">

        <form action="/register" method="post">

          <div class="col-sm-4">

            <% if(message === 'No fields should not be left empty!'){ %>
            <div class="alert alert-danger" role="alert">
              <%=message%>
            </div>
            <% } %>

            <div class="form-group">
              <label class="label-register" for="formGroupExampleInput2">Username</label>
              <input type="text" name="username" class="form-control input-op" placeholder="username" autocomplete="off">
            </div>

            <% if(message === 'Username already taken'){ %>
            <div class="alert alert-danger" role="alert">
              <%=message%>
            </div>
            <% } %>

            <div class="form-group">
              <label class="label-register" for="formGroupExampleInput2">Email</label>
              <input type="text" name="email" class="form-control input-op" placeholder="Email" autocomplete="off">
            </div>

            <% if(message === 'Email already exists'){ %>
            <div class="alert alert-danger" role="alert">
              <%=message%>
            </div>
            <% } %>

            <div class="form-group">
              <label class="label-register" for="formGroupExampleInput2">password</label>
              <input type="text" name="password" class="form-control input-op" placeholder="Password" autocomplete="off">
            </div>

            <div class="form-group">
              <label class="label-register" for="formGroupExampleInput2">Account Number</label>
              <input type="text" name="account_no" class="form-control input-op" placeholder="Account Number" autocomplete="off">
            </div>

            <% if(message === 'Invalid account no'){ %>
            <div class="alert alert-danger" role="alert">
              <%=message%>
            </div>
            <% } %>

            <% if(message === 'Entered Account Number already registered!'){ %>
            <div class="alert alert-danger" role="alert">
              <%=message%>
            </div>
            <% } %>

            <div class="form-group">
              <label class="label-register" for="formGroupExampleInput">First Name</label>
              <input type="text" name="first_name" class="form-control input-op" placeholder="First Name" autocomplete="off">
            </div>

            <div class="form-group">
              <label class="label-register" for="formGroupExampleInput2">Last Name</label>
              <input type="text" name="last_name" class="form-control input-op" placeholder="Last Name" autocomplete="off">
            </div>

            <div class="form-group">
              <label class="label-register" for="formGroupExampleInput2">Phone Number</label>
              <input type="text" name="phon_no" class="form-control input-op" placeholder="Phone Number" autocomplete="off">
            </div>

            <% if(message === 'Phone Number already exists'){ %>
            <div class="alert alert-danger" role="alert">
              <%=message%>
            </div>
            <% } %>

            <div class="form-group">
              <label class="label-register" for="formGroupExampleInput2">Address</label>
              <input type="text" name="address" class="form-control input-op" placeholder="Address" autocomplete="off">
            </div>

            <div class="form-group">
              <label class="label-register" for="formGroupExampleInput2">City</label>
              <input type="text" name="city" class="form-control input-op" placeholder="City" autocomplete="off">
            </div>

            <div class="form-group">
              <label class="label-register" for="formGroupExampleInput2">State</label>
              <input type="text" name="state" class="form-control input-op" placeholder="State" autocomplete="off">
            </div>

            <div class="form-group">
              <label class="label-register" for="formGroupExampleInput2">Pincode</label>
              <input type="text" name="pincode" class="form-control input-op" placeholder="Pincode" autocomplete="off">
            </div>

            <button type="submit" class="btn btn-primary"> Register </button>

          </div>

        </form>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>